.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 9522px;
  position: relative;
  overflow: hidden;
}
.rectangle-39 {
  background: linear-gradient(
    180deg,
    rgba(32, 112, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 1920px;
  height: 1054px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  left: 471px;
  top: 256px;
}
.frame-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 172px;
  top: 4093px;
  overflow: hidden;
}
.image-1 {
  border-radius: 120px;
  width: 865px;
  height: 587px;
  position: absolute;
  left: 163px;
  top: 5612px;
  object-fit: cover;
}
.image-3 {
  border-radius: 120px;
  width: 733px;
  height: 497px;
  position: absolute;
  left: 294px;
  top: 8416px;
  object-fit: cover;
}
.image-2 {
  border-radius: 119px;
  width: 733px;
  height: 497.77px;
  position: absolute;
  left: 295px;
  top: 7103px;
  object-fit: cover;
}
._19 {
  color: #000000;
  text-align: left;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
  position: absolute;
  left: 369px;
  top: 5353px;
  width: 1200px;
  height: 606px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
  position: absolute;
  left: 369px;
  top: 8150px;
  width: 1200px;
  height: 523px;
}
.vector {
  width: 0.51%;
  height: 0.16%;
  position: absolute;
  right: 90.53%;
  left: 8.96%;
  bottom: 66.34%;
  top: 33.5%;
  transform: translate(0px, -9.73px);
  overflow: visible;
}
.image-7 {
  border-radius: 140px;
  width: 493.33px;
  height: 740px;
  position: absolute;
  left: 1076px;
  top: 7103px;
  object-fit: cover;
}
.rectangle-34 {
  background: linear-gradient(
    180deg,
    rgba(32, 112, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 296px;
  width: 2099px;
  height: 652px;
  position: absolute;
  left: -81px;
  top: 4502px;
}
.rectangle-35 {
  background: #2070fa;
  border-radius: 195px;
  width: 1416px;
  height: 247px;
  position: absolute;
  left: 252px;
  top: 3795px;
}
.rectangle-40 {
  background: #2070fa;
  border-radius: 195px;
  width: 2283px;
  height: 304px;
  position: absolute;
  left: -175px;
  top: 2361px;
}
.rectangle-36 {
  background: #2070fa;
  border-radius: 195px;
  width: 369px;
  height: 110px;
  position: absolute;
  left: 313px;
  top: 5213px;
}
.rectangle-37 {
  background: #2070fa;
  border-radius: 195px;
  width: 280px;
  height: 110px;
  position: absolute;
  left: 337px;
  top: 8008px;
}
.travellers-choice {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  left: 538px;
  top: 4693px;
}
.group-3 {
  width: 11.82%;
  height: 1.95%;
  position: absolute;
  right: 76.61%;
  left: 11.56%;
  bottom: 46.72%;
  top: 51.32%;
  transform: translate(0px, -227px);
  overflow: visible;
}
._20241124163200-1 {
  width: 1201px;
  height: 609px;
  position: absolute;
  left: 379px;
  top: 3022px;
  object-fit: cover;
}
.div3 {
  color: #2070fa;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 652px;
  top: 2910px;
  width: 1064px;
  height: 130px;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: "BmHannaPro-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 580px;
  top: 3885px;
  width: 1340px;
  height: 208px;
}
.rectangle-38 {
  background: #2070fa;
  border-radius: 195px;
  width: 263px;
  height: 110px;
  position: absolute;
  left: 338px;
  top: 6710px;
}
.image-5 {
  border-radius: 412px;
  width: 1116px;
  height: 1680px;
  position: absolute;
  left: 402px;
  top: 474px;
  object-fit: cover;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 600;
  position: absolute;
  left: 379px;
  top: 2438px;
  width: 1200px;
  height: 779px;
}
._01 {
  color: #ffffff;
  text-align: left;
  font-family: "AssacomFreeGothicTtf-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 371px;
  top: 5229px;
  width: 1340px;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
  position: absolute;
  left: 371px;
  top: 6803px;
  width: 1052px;
  height: 594px;
}
._02 {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 371px;
  top: 6728px;
  width: 1340px;
}
._03 {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 371px;
  top: 8029px;
  width: 1340px;
}
._192 {
  color: #000000;
  text-align: left;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
  position: absolute;
  left: 371px;
  top: 4171px;
  width: 1200px;
  height: 1419px;
}
.image-8 {
  border-radius: 141px;
  width: 555px;
  height: 740px;
  position: absolute;
  left: 1074px;
  top: 8412px;
  object-fit: cover;
}
.image-6 {
  border-radius: 140px;
  width: 540.26px;
  height: 960px;
  position: absolute;
  left: 1116px;
  top: 5590px;
  object-fit: cover;
}
